

<div class ="rows">
<table>
<tr><thead>

<th>Sales date</th>
<th>Product name</th>
<th>Price</th>
<th>No sold</th>

</tr></thead>	
<tbody>
	{{#products}}
<tr>

<td>{{sales_date}}</td>
<td>{{product_name}}</td>
<td>R{{price}}</td>
<td>{{qty}}</td>

<td><a href="/sales/edit/{{id}}">Edit</a>
    <a href="/sales/delete/{{id}}">Delete</a></td>
</tr>
{{/products}}
</tbody>
</table>


<div><button onClick ="location.href='addSales'">+addSales</button>
</div>
</div>