<form class="navbar-form navbar-left" role="search" action="/sales/search/" method="post">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="search" id="search" name="Value">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<table id="search">
  <tr>
    <thead>

      <th>Sales date</th>
      <th>Product name</th>
      <th>Price</th>
      <th>No sold</th>

  </tr>
  </thead>
  <tbody>
    {{#products}}
      <tr>

        <td>{{sales_date}}</td>
        <td>{{product_name}}</td>
        <td>R{{price}}</td>
        <td>{{qty}}</td>

        <td><a href="/sales/editSales/{{id}}">Edit</a></td>
        <td><a href="/sales/delete/{{id}}">Delete</a></td>
      </tr>
    {{/products}}
  </tbody>
</table>


</div>


{{#data}}
  <form action="/sales/update/{{id}}" method="POST">
    Description
    <input type="text" name="product_name" value="{{product_name}}">
    <input type="submit">
  </form>

{{/data}}



<h1>Add A Sales</h1>

<div class="rows">
  <a href="/addSales">+Add Sales</a>

</div>
