<h1>Add A Sales</h1>
<a href="/addSales">+Add Sales</a>

<div class ="rows">
<table border ="1">
<tr><thead>

<th>Sales date</th>
<th>Product name</th>
<th>Price</th>
<th>No sold</th>

</tr></thead>
<tbody>
	{{#products}}
<tr>

<td>{{sales_date}}</td>
<td>{{product_name}}</td>
<td>R{{price}}</td>
<td>{{qty}}</td>

<td><a href="/sales/editSales/{{id}}">Edit</a></td>
 <td><a href="/sales/delete/{{id}}">Delete</a></td>
</tr>
{{/products}}
</tbody>
</table>


</div>


{{#data}}
<form action="/sales/update/{{id}}" method="POST">
	Description: <input type="text" name="product_name" value="{{product_name}}">
	<input type="submit">
</form>

{{/data}}
