<div class="form-group">

<form class="navbar-form navbar-left" role="search" action="/sales/search/" method="post">
    <input type="text" class="form-control" placeholder="search" id="search" name="Value">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="rows">
<a class="pull-right" href="/addSales"><button>+Add Sales</button></a>
<div class="col-md-8">
  <div class="col-md-8">
</div>
<table id="search" class="table table-bordered">
  <tr>
    <thead>

      <th>Sales date</th>
      <th>Product name</th>
      <th>Price</th>
      <th>No Of sold</th>
      <th>Edit</th>
      <th>Delete</th>

  </tr>
  </thead>
  <tbody>
    {{#products}}
      <tr>

        <td>{{sales_date}}</td>
        <td>{{product_name}}</td>
        <td>R{{price}}</td>
        <td>{{qty}}</td>


        <td><a href="/sales/editSales/{{id}}">Edit</a></td>
        <td><a href="/sales/delete/{{id}}">Delete</a></td>
      </tr>
    {{/products}}
  </tbody>
</table>
</div>
</div>
<!--
{{#data}}
  <form action="/sales/update/{{id}}" method="POST">
    Description
    <input type="text" name="product_name" value="{{product_name}}">
    <input type="submit">
  </form>

{{/data}} -->
